.image-holder {
    width: 70%;
    height: auto;
    margin: auto;
}

.project-links {
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    width: 100%;
    padding: 20px;
    max-width: 600px;

}

.screenshot {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.slider-control-bottomcenter button{
    background: rgb(255, 255, 255) !important;
    border-radius: 50%; 
    width: 14px;  
    height: 14px; 
    margin-top: 260px;
  }
  
.slider-control-bottomcenter svg{
    display: none; 
   }
   
.slider-control-bottomcenter li{
    margin-right: 5px;
   }

 .back-button {
    border-radius: 8px;
    /* padding: 0.3em 0.3em; */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fd02e8;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black(212, 255, 0);
    size: 1em;
    width: 100%;
    max-width: 200px;
    opacity: 1;
    /* width: 4.7em; */
  }

.slide-buttons {
    background-color: transparent;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    color:aqua;
}