.project-page {
    width: 80%;
    margin: auto;
}

.project-info {
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 600px;
}

.image-holder {
    width: 80%;
    height: auto;
    margin: auto;
}

.project-links {
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    width: 100%;
    padding: 20px;
    max-width: 600px;

}

.screenshot {
    max-width: 60%;
    height: auto;
    display: block;
    margin: auto;
    padding: 5px;
}

.slider-control-bottomcenter button{
    background: rgb(255, 255, 255) !important;
    border-radius: 50%; 
    width: 14px;  
    height: 14px; 
    margin-top: 160px;
  }
  
.slider-control-bottomcenter svg{
    display: none; 
   }
   
.slider-control-bottomcenter li{
    margin-right: 5px;
   }


.slide-buttons {
    background-color: transparent;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    color:aqua;
}