.about-page {
   
    margin: 0 auto;
    min-width: 300px;
}


.about {
    max-width: 700px;
    width: 92%;
    padding: 2rem;
    text-align: left;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    min-width: 200px;
}

.social-holder-about {
    display: flex;
    justify-content: flex-end;
}

h3 {
    text-align: center;
}

.directors-box {
    border: 5px solid red;
    border-radius: 20px;
    padding: 15px;
}

.face {
    width: 85%;
    max-width: 400px;
    height: auto;
    object-fit: fill;
    border-radius: 100%;
}

.name {
    font-weight: bold;
    margin: 0px;
}

.dir-descr {
    margin-top: 0;
}