.about {
    max-width: 700px;
    text-align: left;
    text-justify: inter-word;
}

h3 {
    text-align: center;
}

.directors-box {
    border: 5px solid red;
    border-radius: 20px;
    padding: 15px;
}

.face {
    width: 85%;
    max-width: 400px;
    height: auto;
    object-fit: fill;
    border-radius: 100%;
}

.name {
    font-weight: bold;
    margin: 0px;
}

.dir-descr {
    margin-top: 0;
}