body {
    margin: 0;
    display: flex;
    place-items: center;
  }

h2 {
    font-size: 30px;
}

p {
    color: white;
    font-size: 20px;
    opacity: 0.9;
}

.home-info {
    color: rgb(255, 255, 255);
    width: 100%;
    /* border: solid white; */
    display: relative;
}

.home-button {
    color: rgb(255, 255, 255);
    opacity: 0.85;
    /* margin: 5px; */
    width: 100%;
    border: solid white;
    height: 100%;
    vertical-align: middle;
}

.option-holder {
    display: flex; 
    justify-content: space-between;

}

.options {
    flex: 1;
    width: 100%;
    margin: 10px;
    text-align: center;
}

.projects-home1 {
    opacity: 0.8 !important;
    border-radius: 8px;
    margin: 5px; 
    padding-top: 0.3em;
    margin-top: 15px; 
    background-color: #1a1a1a;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    width: 100%;
  }

.project-button {
    width: 25%;
    max-width: 340px;
    min-width: 300px;
}

.social-holder {
    display: flex;
    justify-content: flex-end;

}

.social-link {
    background-color: aliceblue;
    color: black;
    font-size: 10px;
    width: 60%;
    padding: 7px;
    max-width: 60px;
    min-width: 60px;
    margin: 8px;
    border: solid white;
}

.homeImage {
    width: 80%;
    height: auto;
    min-width: 80px;
}

.name {
    width: 70%;
    height: auto;
}

