body {
    margin: 0;
    display: flex;
    place-items: center;
  }

h2 {
    font-size: 30px;
}

p {
    color: white;
    font-size: 20px;
    opacity: 0.9;
}

.home-info {
    color: rgb(255, 255, 255);
    width: 100%;

    display: relative;
}

.option-holder {
    display: flex; 
    margin: auto;
    width: 70%;
}

.options {
    flex: 1;
    width: 70%;
    height: 100%;
    text-align: center;
    /* margin:auto;
    vertical-align: middle; */
    height: 90px;
    border-radius: 15px;
}

.home-button {
    color: rgb(255, 255, 255);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    border: solid white;
    vertical-align: middle;
    border-radius: 25px;
    /* margin:auto; */
}

.projects-home1 {
    opacity: 0.8 !important;
    border-radius: 8px;
    padding-top: 0.3em;
    margin-top: 15px; 
    background-color: #1a1a1a;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    width: 100%;
  }

.project-button {
    width: 25%;
    max-width: 360px;
    min-width: 280px;
    color: white;
    border: "1px solid white";
    opacity: 0.9;
    max-height: 400px;
    object-fit: cover;
    overflow:hidden;
}

.social-holder {
    display: flex;
    justify-content: flex-end;

}

.social-link {
    background-color: aliceblue;
    color: black;
    font-size: 10px;
    width: 60%;
    padding: 7px;
    max-width: 60px;
    min-width: 60px;
    margin: 8px;
    border: solid white;
}

.homeImage {
    width: 80%;
    height: auto;
    min-width: 80px;
    overflow:hidden;
    max-height: 280px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center 5%;

}

.name {
    width: 60%;
    height: auto;
    min-width: 240px;
}

.project-titles {
    text-align: left;
    padding-left: 20px;
    margin-bottom: -30px;
    width: 85%;
}
