#root {
  
  width: 100%;
  margin: 0 auto;
  /* max-width: 1280px;
  padding: 2rem; */
  text-align: center;
  font-size: 4rem;
  min-width: 300px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-width: 1500px) {
  body {
    background-size: 100rem;

  }
}