:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  /* margin: 0; */
  display: flex;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
  overflow-x:hidden;
}

h1 {
  font-size: 5vw;
  line-height: 1.1; 
}

h2 {
  font-size: 22px;
}

button {
  border-radius: 8px;
  background-color: #ec00e0;
  
  font-family: inherit;
  
  cursor:pointer;
}
button:hover {
  opacity: 0.6;
}

h3 {
  color: white;
  font-size: 40px;
}



